.icon
	background-repeat no-repeat
	background-position center
	display inline-block
	
i.cart
	background-image url($cart)
	width 21px
	height 20px
	
i.login
	background-image url($profile)
	width 16px
	height 17px

i.arr-r
	background-image url($arr-r)
	width 13px
	height 10px
	
i.plus
	background-image url($plus)
	width 15px
	height 14px
	
i.minus
	background-image url($minus)
	width 11px
	height 2px
	
i.checkmark
	background-image url($checkmark)
	width 15px
	height 14px
	
i.mail
	background-image url($mail)
	width 18px
	height 14px
	
i.delete
	background-image url($delete)
	background-size 14px 20px
	width 16px
	height 24px