<?php

return [
	'components' => [
		'db' => [
			'class' => 'yii\db\Connection',
			'dsn' => 'mysql:host={HOST};port={PORT};dbname={DBNAME}',
			'username' => '{USERNAME}',
			'password' => '{PASSWORD}',
			'charset' => 'utf8',
		],
		'cache' => [
			'class' => 'yii\caching\DummyCache',
		],
	]

];