extends layouts/default

block content
	section.section-articles
		.section-inner
			h1.section-title.art-1 Статьи
			ul.articles-list.one.image-duotone-list
				li
					a.item(href="#")
						img.gradient(src="i/article-woman.jpg", data-gradient-map="black, #e00000")
						img(src="i/article-woman.jpg")
					.text
						a(href="#")
							.title Как правильно питаться
						a(href="#").btn Подробнее

				li
					a.item(href="#")
						img.gradient(src="i/article-food.jpg", data-gradient-map="black, #e00000")
						img(src="i/article-food.jpg")
					.text
						a(href="#")
							.title Белковое питание для спортсменов
						a(href="#").btn Подробнее
			ul.articles-list.two.image-duotone-list
				li
					a.item(href="#")
						img.gradient(src="i/article-man.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-man.jpg")
					.text
						a(href="#")
							.title Как правильно питаться
						a(href="#").btn Подробнее

				li
					a.item(href="#")
						img.gradient(src="i/article-man-two.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-man-two.jpg")
					.text
						a(href="#")
							.title Что такое протеин и зачем он нужен
						a(href="#").btn Подробнее

				li
					a.item(href="#")
						img.gradient(src="i/article-tobe.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-tobe.jpg")
					.text
						a(href="#")
							.title Программа тренировок для максимально эффективного
						a(href="#").btn Подробнее

				li
					a.item(href="#")
						img.gradient(src="i/article-man-three.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-man-three.jpg")
					.text
						a(href="#")
							.title 7 полезных протеиновых рецептов
						a(href="#").btn Подробнее

			.section-title.art-2 Другие статьи

			ul.articles-list.three.image-duotone-list
				li.four
					a.item(href="#")
						img.gradient(src="i/article-other-one.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-other-one.jpg")
					.text
						a(href="#")
							.title Как правильно питаться
						a(href="#").btn Подробнее

				li.four
					a.item(href="#")
						img.gradient(src="i/article-other-two.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-other-two.jpg")
					.text
						a(href="#")
							.title Что такое протеин и зачем он нужен
						a(href="#").btn Подробнее

				li.four
					a.item(href="#")
						img.gradient(src="i/article-other-three.jpg",	data-gradient-map="black, #e00000")
						img(src="i/article-other-three.jpg")
					.text
						a(href="#")
							.title Белковое питание для спортсменов
						a(href="#").btn Подробнее
	.clear
