extends layouts/default

block content
	section.section-articles
		.section-inner
			.section-title.art-3 Похожие статьи

			.main-article
				.article-header
					a(href="#").btn Все статьи
					.title
						h1.section-title Как правильно питаться
						img(src="i/other-articles.jpg")
					.article-text
						h5 Худеть нужно с умом
						p Главное – избегать крайностей. Не пытаться за неделю избавиться от 30 лишних килограммов или повесить на холодильник замок. Радикальные меры могут только навредить.
						p Сбрасывать вес рекомендуется безопасными для здоровья темпами: в среднем на 5 – 10% от общей массы тела в месяц. Если вы весите около 150 килограммов, то избавиться за 30 дней от 7 – 8 килограммов – это уже большой успех.
						p Снижение калорийности рациона должно быть разумным. Как минимум она должна составлять около 1200 – 1800 килокалорий. Если энергетическая ценность ежедневного меню окажется ниже, организм сделает вывод, что пришли голодные времена, и замедлит обмен веществ, а значит, и скорость снижения веса упадет.
						p От алкоголя желательно отказаться: он уменьшает окисление жира в организме и имеет высокую калорийность.
						p Питание должно быть полноценным. В нем должны быть и углеводы, и белки, и жиры. Так называемые «быстрые» углеводы (сладости) желательно исключить из рациона. Они легко усваиваются организмом и считаются источником «пустых калорий», которые могут превратиться в жир. Поэтому сладости лучше заменить на «сложные углеводы» (крупы, картофель, бобовые). Количество жиров (сырокопченая колбаса, шпик, сосиски, сыры, орехи, сливочное масло) необходимо ограничить. Важно позаботиться о достаточном потреблении белков (протеинов). Они не откладываются «про запас» и в случае необходимости расходуются на образование жиров и углеводов. Ежедневно человеческий организм нуждается в 90 – 100 граммах протеина, но при интенсивных нагрузках потребность в нем резко возрастает в 1, 5 – 2 раза. Белками богаты мясо, рыба, курица, нежирный творог, крупы, молоко. Своего рода «диетическим» источником белка можно назвать коктейль с высоким содержанием протеина «Тo be muscle». 250 – граммовая упаковка напитка содержит столько же белков, сколько 150 граммов говядины, баранины, сардин, солонины, но общая калорийность и жирность «Тo be muscle» значительно ниже. Его энергетическая ценность составляет 180 килокалорий, а жирность – менее 0, 5 граммов.


				ul.articles-list.image-duotone-list.other-articles
					li.three
						.section-title.art-3 Похожие статьи
					li.three
						a.item(href="#")
							img.gradient(src="i/article-man.jpg",	data-gradient-map="black, #e00000")
							img(src="i/article-man.jpg")
						.text
							.title Как правильно питаться
							a(href="#").btn Подробнее

					li.three
						a.item(href="#")
							img.gradient(src="i/article-man-two.jpg",	data-gradient-map="black, #e00000")
							img(src="i/article-man-two.jpg")
						.text
							.title Что такое протеин и зачем он нужен
							a(href="#").btn Подробнее

					li.three
						a.item(href="#")
							img.gradient(src="i/article-man-three.jpg",	data-gradient-map="black, #e00000")
							img(src="i/article-man-three.jpg")
						.text
							.title 7 полезных протеиновых рецептов
							a(href="#").btn Подробнее

	.clear
