extends layouts/default

block content
	section.section
		.section-inner
			.section-map-buy
				.section-title.sitemap-title Карта сайта
				ul.sitemap-article
					li: a(href="#") Главная
					li: a(href="#") Купи
					li: a(href="#") Попробуй
					li: a(href="#") Статьи
