.chat-button
	.chat-button-top
		.text
			.name Денчик
			.status автор бестселлера
	.chat-button-bottom
		.icon
			button Отправить
		.modalWindow-close


.chat-wrapper
	.chat-message-text
		.chat-title Задайте вопрос специалисту
		form.login
			.input.w60
				input(type="text", placeholder="Имя")
			.input.w60
				input(type="email", placeholder="E-mail")
			.input.w60
				input(type="text", placeholder="Номер телефона")
			textarea(rows="5" placeholder="Ваш вопрос")

	//- old-chat
	//- form
	//- 	.dialog
	//- 		.chat-message
	//- 			p Здраствуйте Александр!
	//- 			p Хотелось бы узнать,  осуществляете ли вы доставку в Магнитогорск?
	//- 			hr
	//- 		.chat-message
	//- 			p Здраствуйте Александр!
	//- 			p Хотелось бы узнать,  осуществляете ли вы доставку в Магнитогорск?
	//- 			hr
	//- 		.chat-message
	//- 			p Здраствуйте Александр!
	//- 			p Хотелось бы узнать,  осуществляете ли вы доставку в Магнитогорск?
	//- 			hr
	//- 		.chat-message
	//- 			p Здраствуйте Александр!
	//- 			p Хотелось бы узнать,  осуществляете ли вы доставку в Магнитогорск?
	//- 			hr
	//- 		.chat-message.answer
	//- 			p Добрый день!
	//- 			p Конечно, наша доставка работает на территории РФ.
	//- 			hr
	//- 	.chat-message-text
	//- 		textarea
