.section-inner.footer-inner#bottom
	.page-footer
		a.logo-komos(href="http://www.komos.ru/") Комос Групп
		p.feedback Обратная связь
			a.btn-link.email-icon(href="mailto:tobe@komos.ru")
		p.copyright © 2016 To be. Все права защищены
		p.share Поделиться
		p.sitemap Карта сайта
			a.btn-link.sitemap-icon(href="#")
		.logo-promo
			.label Сделано в
				a(href="http://promo.ru/" target="_blank" title="Promo Interactive Ogilvy Group") Promo Interactive
	.requisites
		p ОАО «МИЛКОМ»  Юридический адрес: 426039, г.Ижевск, Воткинское шоссе, 178, ИНН 1834100340, КПП 183650001, Расчетный счет 40702810900320102430<br> Филиал "Газпромбанк" (АО) в г.Перми, к/с 30101810200000000808 в ГРКЦ ГУ Банка России по Пермскому краю БИК 045773808
