head
	meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(content="", name="Description")
	meta(content="", name="Keywords")
	meta(content="yes", name="apple-mobile-web-app-capable")
	meta(name="HandheldFriendly", content="true")
	link(href='/i/favicon.ico', type='image/x-icon', rel='shortcut icon')
	link(href='/i/favicon.ico', type='image/x-icon', rel='icon')


	title TO BE

	link(href="css/reset.css", rel="stylesheet", type="text/css")
	link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/chosen.min.css", rel="stylesheet", type="text/css")
	link(href="css/mediaelementplayer.css", rel="stylesheet", type="text/css")
	link(href="css/jquery.jscrollpane.css", rel="stylesheet", type="text/css")
	link(href="css/main.css", rel="stylesheet", type="text/css")
