header.header.section-header
		.section-inner
			.section-header-logo
			nav.section-header-menu
				ul
					li: a(href="#top").scroll-link Главная
					li: a(href="#").scroll-link Продукция
					li: a(href="#articles-block").scroll-link Статьи
					li: a(href='contest.html').scroll-link Конкурс
					li: a(href='contest.html').scroll-link Где купить

			.section-header-auth
				a(href="#auth").login.modalWindowLink
					i.icon.login
					span Вход
				a(href="#registration").reg.modalWindowLink Регистрация
			.section-header-cart
				a(href="#")
					i.icon.cart
					span Корзина
						b 2
			a(href="#").mobile.sandwich
				span
				span
				span
				span
